@import "index";

.App {
  background-color: #4fec4f;
  overflow: auto;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
}

.container {
  width: 60%;
  min-width: 100mm;
}

.content {
    background-color: $background;
    padding: 4mm;
}

.ind {
  text-indent: 8mm;
}

.spaced {
  margin-bottom: 4mm;
}
